<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album</title>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/album.css">
    <script src="/js/album/album.js" defer type="module"></script>
</head>
<body data-album="<%= JSON.stringify(album) %>">
    <div id="album-info">
        <div id="bg-cover">
            <img src="/details/<%= album.tracks[0].file.filename %>/image" id="main-album-cover">
            <div id="text-info">
                <h2>Album</h2>
                <h1 id="name-text"><%= album.name %></h1>
                <h3 id="year-text"><%= album.year %></h3>
            </div>
        </div>
    </div>
    <table id="album-table">
        <tr id="table-header">
            <th id="title-row">Title</th>
            <th id="artist-row">Artist</th>
            <th id="uploaddate-row">Upload Date</th>
        </tr>
        <% for (const track of album.tracks) { %>
            <tr data-filename="<%= track.file.filename %>">
                <td><%= track.meta.title %></td>
                <td><%= track.meta.artist %></td>
                <td><%- new Date(track.file.uploadtime).toLocaleDateString() %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>